/* Login.module.css */
.form {
    display: block;
    /* gap: 10px; */
    max-width: 300px; /* Set a maximum width for the form */
    margin: 150px auto auto auto; /* Center the form horizontally */
    padding: 20px;
    border: 1px solid #ccc; /* Add a border to the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* height: 450px; */
  }

  .form div{
    display: block;
    width: 80%;
    max-height: fit-content;
    padding: 10px;
    box-shadow: 10px 2x 3px #000;
  }
  
.form div label {
    /* grid-column: span 1;  */
    /* align-self: center; */
    font-weight: bold;
    font-size: 1.3em;
    align-self: start;
    
  }

.form div input {
    /* grid-column: span 1;  */
    border: 1px solid #ccc; 
    border-radius: 4px;
    height: 50px;
    box-sizing: border-box; 
    padding: 5px;
  }

.button {
    /* grid-column: span 2; */
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
    width: 90%;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
  }
  
.button:hover {
    background-color: #0056b3;
  }
  
  /* Add more styling as needed */
  