/* Login.module.css */

.form {
    display: grid;
    gap: 1rem;
    max-width: 300px; /* Set a maximum width for the form */
    margin: 30px auto auto auto; /* Center the form horizontally */
    padding: 50px; /* Add some padding */
    border: 1px solid #ccc; /* Add a border to the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 450px;
  }
  
.label {
    grid-column: span 2; /* Span both columns for a full-width label */
    align-self: center;
    font-weight: bold;

  }

.input {
    grid-column: span 2; /* Span both columns for a full-width input field */
    /* padding: 5px; */
    border: 1px solid #ccc; /* Add a border to the input fields */
    border-radius: 4px;
    height: 50px;
    box-sizing: border-box; /* Make sure the input fields don't break on small screens */
  }

.button {
    grid-column: span 2;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Optional: Add border-radius to the button */
  }
  
.button:hover {
    background-color: #0056b3;
  }
  
  /* Add more styling as needed */
  